Rumbow.TWS.Web/MaryKay Web References/MaryKayHDtoLIPS/hdtolips.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HDToLIPSByWebService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDataID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReceiveDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTrasactiontype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HDToLIPSByWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HDToLIPSByWebServiceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="HDToLIPSByWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:HDToLIPSByWebService" />
  </wsdl:message>
  <wsdl:message name="HDToLIPSByWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:HDToLIPSByWebServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="HDToLIPSSoap">
    <wsdl:operation name="CheckUser">
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HDToLIPSByWebService">
      <wsdl:input message="tns:HDToLIPSByWebServiceSoapIn" />
      <wsdl:output message="tns:HDToLIPSByWebServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HDToLIPSSoap" type="tns:HDToLIPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HDToLIPSByWebService">
      <soap:operation soapAction="http://tempuri.org/HDToLIPSByWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HDToLIPSSoap12" type="tns:HDToLIPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HDToLIPSByWebService">
      <soap12:operation soapAction="http://tempuri.org/HDToLIPSByWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HDToLIPS">
    <wsdl:port name="HDToLIPSSoap" binding="tns:HDToLIPSSoap">
      <soap:address location="http://www.mk-lips.com/lipswebservice/hdtolips.asmx" />
    </wsdl:port>
    <wsdl:port name="HDToLIPSSoap12" binding="tns:HDToLIPSSoap12">
      <soap12:address location="http://www.mk-lips.com/lipswebservice/hdtolips.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>