Rumbow.TWS.Web/Service References/sfservice/CommonServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.expressservice.integration.sf.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CommonServiceService" targetNamespace="http://service.expressservice.integration.sf.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.expressservice.integration.sf.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="expressServiceForRouteLabel" type="tns:expressServiceForRouteLabel" />
      <xs:element name="expressServiceForRouteLabelResponse" type="tns:expressServiceForRouteLabelResponse" />
      <xs:element name="sfexpressService" type="tns:sfexpressService" />
      <xs:element name="sfexpressServiceResponse" type="tns:sfexpressServiceResponse" />
      <xs:complexType name="sfexpressService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sfexpressServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expressServiceForRouteLabel">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expressServiceForRouteLabelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sfexpressService">
    <wsdl:part name="parameters" element="tns:sfexpressService" />
  </wsdl:message>
  <wsdl:message name="expressServiceForRouteLabelResponse">
    <wsdl:part name="parameters" element="tns:expressServiceForRouteLabelResponse" />
  </wsdl:message>
  <wsdl:message name="sfexpressServiceResponse">
    <wsdl:part name="parameters" element="tns:sfexpressServiceResponse" />
  </wsdl:message>
  <wsdl:message name="expressServiceForRouteLabel">
    <wsdl:part name="parameters" element="tns:expressServiceForRouteLabel" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="sfexpressService">
      <wsdl:input name="sfexpressService" message="tns:sfexpressService" />
      <wsdl:output name="sfexpressServiceResponse" message="tns:sfexpressServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="expressServiceForRouteLabel">
      <wsdl:input name="expressServiceForRouteLabel" message="tns:expressServiceForRouteLabel" />
      <wsdl:output name="expressServiceForRouteLabelResponse" message="tns:expressServiceForRouteLabelResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonServiceServiceSoapBinding" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sfexpressService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sfexpressService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sfexpressServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expressServiceForRouteLabel">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="expressServiceForRouteLabel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="expressServiceForRouteLabelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonServiceService">
    <wsdl:port name="CommonServicePort" binding="tns:CommonServiceServiceSoapBinding">
      <soap:address location="http://bspsw.sf-express.com/ws/expressService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>